@charset "UTF-8";
html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.125rem; /* 18px, where 1rem = 16px */
  line-height: 1.3;
}

/* Flexbox and its helper classes */
.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}

/* Visibility */
.hide-for-mobile,
.hide-for-desktop {
  display: none;
}
